---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to DesignMood">
  <main
    class="w-full h-full flex justify-center items-center bg-gray-200 flex-col"
  >
    <h1 class="text-5xl">
      <span class="text-gray-50">design</span>
      <span class="text-gray-600">moods</span>
    </h1>
    <h3 class="text-gray-400">revolutionizing moodboards</h3>
    <br />
    <br />
    <button
      class="bg-blue-500 text-gray-50 text-sm px-3 py-1 rounded-lg hover:bg-blue-600"
    >
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSeIj23Ddfc3Q6R0LqfubqA0W2zqYtCPmND0JxIeEtDKMPDKcA/viewform?usp=sf_link"
      >
        learn more!
      </a>
    </button>
  </main>
</Layout>
