---
import Layout from "../layouts/Layout.astro";
---

<Layout title="M00DB09RD5">
  <main
    class="w-full h-full flex justify-center items-center bg-gray-200 flex-col"
  >
    <h1 class="text-5xl text-center">
      <span class="text-gray-50">M00D</span>
      <span class="text-gray-600">B09RD5</span>
    </h1>
    <h3 class="text-gray-400 text-center">
      the AI moodboard generator you want
    </h3>
    <br />
    <div>
      <button
        class="bg-blue-500 text-gray-50 text-sm px-3 py-1 rounded-lg hover:bg-blue-600"
      >
        <a href="/sign_up">sign up</a>
        <!-- <a
          target="_"
          href="mailto:lucidmach@gmail.com?subject='Sign Up for Beta Access M00DB09RD5'"
          >sign up</a
        > -->
      </button>
      <button
        class="bg-blue-500 text-gray-50 text-sm px-3 py-1 rounded-lg hover:bg-blue-600"
      >
        <a href="/learn_more">learn more!</a>
      </button>
      <button
        class="bg-gray-500 text-gray-50 text-sm px-3 py-1 rounded-lg hover:bg-blue-600"
      >
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSeIj23Ddfc3Q6R0LqfubqA0W2zqYtCPmND0JxIeEtDKMPDKcA/viewform?usp=sf_link"
        >
          fill survey!
        </a>
      </button>
    </div>
  </main>
</Layout>
