---
import Layout from "../layouts/Layout.astro";
---

<Layout title="M00DB09RD5 | Intel">
  <main
    class="pt-5 h-full w-full flex items-center bg-gray-200 flex-col text-gray-400"
  >
    <h1 class="text-5xl text-center">
      <span class="text-gray-50">M00D</span>
      <span class="text-gray-600">B09RD5</span>
    </h1>
    <h3 class="text-gray-400 text-center">
      the AI moodboard generator you want
    </h3>
    <br />
    <div class="m-2 h-full">
      <p class="text-xl text-black m-1">What is M00DB09RD5</p>
      <p class="text-xs m-1">
        an image generation tool built on top of the ultra fast and reliable
        stable diffusioin XL turbo model
      </p>
      <img
        class="w-full my-2"
        src="https://cdn-thumbnails.huggingface.co/social-thumbnails/models/stabilityai/sdxl-turbo.png"
        alt="SDXL"
      />
      <p class="text-xs m-1">
        a <a class="underline" href="https://stable-diffusion-art.com/models/"
          >checkpoint model</a
        > trained on moodboards of 100+ highly curated behance projects
      </p>
      <img
        class="w-full my-2"
        src="https://blog.adobe.com/en/publish/2019/07/29/media_17537c2031ab4e96788d665d029dd4beb0170952c.png"
        alt="moodboards"
      />
      <p class="text-xs m-1">
        generates an auto arranged collection of images to serve as your
        moodboard for your projects
      </p>
      <img class="w-full my-2" src="/moodboard.png" alt="generated moodboard" />
      <p class="text-[0.5rem] text-center">
        a moodboard of 15 images generated for a fludic glider project
      </p>
    </div>
  </main>
</Layout>
